* {
    margin: 0%;
    color: aliceblue;
    box-sizing: border-box;
}
p{
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
}

.container-logo {
    background-color: #000;
    height: 10vh;
    text-align: center; /* Centra horizontalmente el contenido */
    display: flex;
    align-items: center;
    justify-content: center;

}
.container-logo h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;/* El tamaño de fuente es el 30% de la altura del contenedor */
    flex-wrap: nowrap;
}

/*body*/
body {
    background-color: #000
}


.home-banner{ /* Caja contenedora principal*/
    display: flex;
    height: 55vh;
}
.home-banner-img{ /*imagen principal*/
    object-fit: cover;
    width:100%;
    height:100%;
}

.txt-principal{
    background-color: #000;
    margin: 10px 30px ;
    padding: 10px;
    text-align: center;
}
.txt-principal p {
    font-size: large;
}


.cards-home-img {
    list-style: none;
    display: inline-block;
    margin: 10px; /* Espacio entre las imágenes */
}

.image-container {
    width: 200px; 
    height: 200px;
    overflow: hidden; /* Recorta las imágenes si son más grandes */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene la relación de aspecto y llena el contenedor */
}



/*footer*/
footer {
    background-color: black;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
}

.list-menu { /*Trabajando en los Ul */
    height: 10vh;
    list-style-type: none;
    display: flex;
    align-items:flex-start;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.list-menu-li { /*Trabajando en los li */
    font-family: 'Titillium Web', sans-serif;
    margin: 10px 7px;
    border-left: 1px solid #fff;
    width: 20vh;
    text-align: center;
}
.list-menu-li i{
    font-size: 2vh;
    margin: 5px;
}
.list-menu-li p {
    font-size: 2vh;
    text-align: center;
}

.list-menu-li:hover { /*para los iconos del menu inferior*/
    color: rgb(0, 145, 255);
    transform: scale(1.2);
    transition-duration: 0.4s;
}




/* PAGINA CONCTACTANOS*/

.form-mail {
    width: 50%;
    margin: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
legend {
    font-family: 'Lucida Sans', sans-serif;
    color: #4ce2ea;
    margin: 40px 0px;
    text-align: center;
    font-size: 30px;

}
.form-mail input {
    margin: 5px;
    color: #000000;
}
.form-mail textarea {
    color: #000;
    font-size: large;
}

.button , .reset-button{
    background-color: #ff32e7;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 14px;
    font-weight: 500; /*Grosor font*/
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover, .button:focus , .reset-button:hover , reset-button:focus  {
    background-color: #ffb4f6;
    }

